body{
    display: block;    /*Ogni elemento che usa questo CSS va in una nuova riga (a capo) */
    display: inline;    /*Ogni elemento che usa questo CSS li inserisce nella stessa riga ovviamente va a capo se finisce il padding del block */
    display:inline-block; /* Mette ogni singolo elemento nella stessa riga ma crea anche un blocco così da non farlo andare a capo */
}
